body{
    height: 100vh;
    width: 100vw;
    background: #cfd3ce;
    padding: 30px;
}

#title{
    text-align: center;
}

.header-text{
    font-size: xx-large;
    margin: 0 0 2% 0;
    font-weight: bold;
}

.sub-head-text{
    margin-bottom: 1%;
}

#img-div{
    padding: 10px;
    margin: auto;
    background: #ffffff;
}

#image-1{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

#img-caption{
    text-align: center
}

.tribute-subhead{
    margin: 50px;
    font-size: x-large;
    font-weight: bold;
}

#main{
    text-align: center;
}

ul{
    text-align: left;
    max-width: 550px;
    margin: 0 auto 50px auto;

}

.cite-end{
    margin-top: 80px;
}
